.expertise-section {
    background-color: #d7d1f3;
    padding-top: 200px;
}


.expertise-title {
    font-size: 50px;
    text-align: center;
}


.card-container {
    padding: 50px;
}

.card {
    padding-bottom: 200px;
}