.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3dcfe;
    padding: 2rem;
    transition: top 5s ease-out;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar.home {
    position: relative;
}

.navbar.not-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(227, 220, 254, 0.9);
    color: white;
    animation: dropDown 0.5s ease-in-out forwards;
    height: 8%;
}

@keyframes dropDown {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

.navbar-left .Home-Link {
    font-size: 2rem;
    font-weight: bold;
    color: #090132;
    text-decoration: none;
}

.navbar-left .Home-Link:hover {
    color: #9475fd;
}

.navbar-right {
    display: flex;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #090132;
}

.navbar-right .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 1rem;
    font-size: 25px;
    align-items: center;
}


.navbar-right .nav-links li {
    margin-right: 1rem;
}

.navbar-right .nav-links a {
    color: #090132;
    text-decoration: none;
}

.navbar-right .nav-links a:hover {
    color: #2dfb95;
}

.navbar-right .Github-Logo{
    max-height: 4rem;
}




/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .navbar {
        //flex-direction: column;
        //padding: 1rem;
    }

    .navbar-left, .navbar-right {
        //width: 100%;
        //text-align: center;
        //margin-bottom: 1rem;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-right .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1001;

        flex-direction: column;
        display: none;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: rgba(227, 220, 254, 0.9);

    }

    .navbar-right .nav-links.open {
        display: flex;
    }

    .navbar-right .nav-links li {
        margin: 0;
        padding: 1rem;
        border-top: 1px solid #090132;
    }

    .Github-Logo {
        max-height: 4rem;
    }
}

@media (max-width: 480px) {
    .navbar-left .Home-Link {
        font-size: 1.5rem;
    }

    .navbar-right .nav-links {
        font-size: 18px;
    }

    .Github-Logo {
        max-height: 3rem;
    }
}